body {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

header {
  display: grid;
  grid-area: header;
  background-color: black;
  align-items: center;
  justify-content: center;
  border: solid 1px;
}

nav .logo-img {
  height: 4em;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: menu;
  background-color: white;
  margin: 0%;
  padding: 0%;
}

main {
  display: flex;
  grid-area: main;
  background-color: rgb(252, 250, 250);
  justify-content: center;
  align-items: center;
  padding: 15px;
  overflow-y: scroll;
  background-image: url(../img/Background.png);
  background-repeat: repeat;
}

footer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background-color: black;
  color: #e7e7e7;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.grid-container {
  display: grid;
  grid-template-areas: "header header" "menu main" "footer footer";
  grid-template-columns: 10%;
  grid-template-rows: 10% 90% 10%;
  height: auto;
  width: 100vw;
}

.product-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5em;
  row-gap: 1em;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}

.card {
  height: 25em;
  width: 17em;
  text-align: center;
  background-color: white;
  border: solid #CCCACA 1px;
  border-radius: 5%;
}

.card-title{
  margin-bottom: 0.5em;
}

.disc-img {
  height: 15em;
  width: 15em;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 2em;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 0.5em;
  cursor: pointer;
  width: 100%;
}

h2 {
  margin-bottom: 1em;
  padding: 0%;
  font-size: 1.2em;
}

p {
  margin: 0%;
  padding: 0%;
}

button {
  margin-top: 1em;
  color: rgb(255, 255, 255);
  background-color: black;
  cursor: pointer;
  height: 2em;
  width: 15em;
  border-radius: 3%;
}

button:hover {
  background-color: #8E0703;
  color: white;
}

li:hover {
  background-color: black;
  color: white;
}

.disc-img:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}